.hide-file{
	opacity: 0.0;

   /* IE 8 */
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

   /* IE 5-7 */
   filter: alpha(opacity=0);
 
   /* Netscape or and older firefox browsers */
   -moz-opacity: 0.0;

   /* older Safari browsers */
   -khtml-opacity: 0.0;

   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   height:100%;
}

.img-upload-holder{
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 50%;
}

.img-upload-container {
   position: relative;
   width: 250px;
   height: 250px;
   border: none;
   border-radius: 50%;
   text-align: center;
   margin: auto;
}

/*.img-upload-container{
	  border: 1px solid white;
	  text-align: center;
	  color: #FFF;
	  border-radius: 4px;
	  margin: auto;
	  width: 120px;
	  padding: 150px;
	  display: block;
	  background-color: #0095ff;
}*/


.img-upload-container-2 {
   position: relative;
   width: 100px !important;
   height: 100px !important;
   border: none;
   border-radius: 50%;
   text-align: center;
   margin: auto;
}

.img-upload-holder-2{
	width: 100px  !important;
	height: 100px  !important;
	object-fit: cover;
	border-radius: 50%;
}